<div class="employee-table">
  <h5 class="header">Employee Table</h5>
  <app-employeeform [employeeForm]="employeeForm" (submitEmployeeDetails)="getEmployeeeForm($event)"></app-employeeform>

  <div class="table-responsive">
    <table class="table table-striped table-dark" *ngIf="employeeList&&employeeList.length">
      <thead>
        <tr>
          <th *ngFor="let employeeKey of employeeList[0]|keyvalue">
            <ng-container *ngIf="employeeKey.key!='_id'&&employeeKey.key!='employeeAddress'">

              {{employeeKey.key| titlecase}}
            </ng-container>
          </th>
          <ng-container *ngFor="let employeeAddressKey of employeeList[0]['employeeAddress']">
            <th *ngFor="let addressData of employeeAddressKey|keyvalue">
              <ng-container *ngIf="addressData.key!='_id'">
                {{addressData.key| titlecase}}
              </ng-container>
            </th>
          </ng-container>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formValue of employeeList;let index=index">

          <th *ngFor="let employeeData of formValue|keyvalue;">
            <ng-container *ngIf="employeeData.key!='_id'&&employeeData.key!='employeeAddress'">

              {{employeeData.value}}
            </ng-container>

          </th>
          <ng-container *ngIf="formValue&&formValue['employeeAddress']&&formValue['employeeAddress'].length">

            <ng-container *ngFor="let addressData of formValue['employeeAddress']">

              <th *ngFor="let addressValue of addressData|keyvalue">
                <ng-container *ngIf="addressValue.key!='_id'">

                  {{addressValue.value}}
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
          <th>
            <button class="btn btn-success" (click)="editEmployeeDetails(formValue)">
              <fa name="edit"></fa>

             </button>
              
            <button class="btn btn-danger" (click)="deleteEmployeeDetails(formValue._id,index)"> 

              <fa name="trash"></fa>
            </button>
          <th>
        </tr>
      </tbody>
    </table>
  </div>
</div>