<button type="button" class="btn btn-success" id="employeeModal" data-toggle="modal" data-target="#exampleModal">
    Add
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

                    <input type="text" formControlName="_id" required aria-required="true" class="hide">

                    <label>
                        Roll Number:
                    </label>
                    <input type="text" formControlName="employeeRollNumber" required aria-required="true">


                    <label>
                        Name:
                    </label>
                    <input type="text" formControlName="employeeName" required>


                    <label>
                        Age:
                    </label>
                    <input type="text" formControlName="employeeAge">

                    <label>
                        Mobile Number:
                    </label>
                    <input type="text" formControlName="employeeMobileNumber">
                    <label>
                        Email:
                    </label>
                    <input type="text" formControlName="employeeEmail">
                    <div formArrayName="employeeAddress">
                        <div *ngFor="let Address of employeeForm.get('employeeAddress')['controls']; let i = index;"
                            [formGroupName]="i">

                            <h6>Address</h6>
                            <input type="text" formControlName="_id" class="hide">

                            <label>
                                Street:
                            </label>
                            <input type="text" formControlName="street">

                            <label>
                                City:
                            </label>
                            <input type="text" formControlName="city">

                            <label>
                                State:
                            </label>
                            <input type="text" formControlName="state">

                            <label>
                                Zip Code:
                            </label>
                            <input type="text" formControlName="zip">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearModal()"
                            id="close">Close</button>
                        <button type="submit" class="btn btn-primary submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>